---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro'; 
import Stats from '~/components/widgets/Stats.astro'; 
import CallToAction from '~/components/widgets/CallToAction.astro'; 

const metadata = {
  title: 'Jiang Street — Solving Financial Markets with Artificial Intelligence',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Invest',
        href: 'https://t.me/jiang_street',
        target: '_blank',
        icon: 'tabler:trending-up',
      },
      { text: 'Apply', href: 'https://forms.gle/zeva2efiZ2oSj6SG7', target: '_blank',
        icon: 'tabler:file-cv' },
    ]}
    image={{ src: '~/assets/images/hero_image2.jpg', alt: 'Jiang Street Image' }}
  >
    <Fragment slot="title">
      Solving Financial Markets with <span class="text-accent dark:text-white"> AI</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">Jiang Street</span> is a Quantitative Trading Organization (QTO). Think of a research lab with trading bots attached to it.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Approach"
    subtitle="Our research lab continuously explores the frontiers of quantitative trading, combining academic rigor with practical market applications"
    tagline=""
    items={[
      {
        title: 'Reinforcement Learning',
        description: "Developing advanced RL algorithms that adapt to market conditions and optimize trading strategies in real-time",
        icon: '/ai.png',
      },
      {
        title: 'Large Language Models',
        description: "Leveraging LLMs for market sentiment analysis, news processing, and natural language understanding of market dynamics.",
        icon: '/data-modelling.png',
      },
      {
        title: 'Decentralized Finance',
        description: 'Cutting-edge expertise in decentralized finance protocols, yield farming strategies, and cross-chain arbitrage opportunities.',
        icon: '/decentralized.png',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features
    id="features"
    tagline=""
    title="Our Vision"
    subtitle="At Jiang Street, we operate as a research lab with trading bots attached to it. Our team of quantitative researchers, data scientists, and engineers work together to push the boundaries of what's possible in algorithmic trading. We believe that the future of quantitative trading lies in the convergence of Artificial Intelligence and Blockchain technologies, especially reinforcement learning, large language models, and decentralized finance."
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Our Blog"
    information={`Learn more about how Jiang Street approaches problems, and about Fintech more broadly.
                `}
  />

</Layout>
