---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="logojiangstreet.png"
    alt={SITE?.name + ' logo'}
    class="h-8 w-auto inline-block align-text-bottom" {{/* Changed align-middle to align-text-bottom */}}
  />
  {SITE?.name}
</span>
